<div class="container">
  <div class="form-body">
    <div class="role_models-index-header">
      ロールモデルの編集
    </div>
    <div class="form-content">
      <%= form_with(url: "/role_models/#{@role_model.id}/edit", method: :post) do %>
        <div class="role_models-input-field">
          <%= label_tag(:title, 'ロールモデル') %>
          <%= text_field_tag(:title, @role_model.title)%>
        </div>
        <div class="role_models-input-field">
          <%= label_tag(:tag, 'タグ') %>
          <%= text_field_tag(:tag) %>
        </div>
        <div class="role_models-input-field">
          <%= label_tag(:description, 'ロールモデルの説明') %>
          <%= text_field_tag(:description, @role_model.description) %>
        </div>
        <div class="role_models-input-field">
          <%= label_tag(:good_point, 'このロールモデルの良い点') %>
          <%= text_field_tag(:good_point, @role_model.good_point) %>
        </div>
        <div class="role_models-input-field">
          <%= label_tag(:bad_point, 'このロールモデルの悪い点') %>
          <%= text_field_tag(:bad_point, @role_model.bad_point) %>
        </div>
        <div class="role_models-input-field">
          <%= label_tag(:approach, 'このロールモデルを実践するには') %>
          <%= text_field_tag(:approach, @role_model.approach) %>
        </div>
        <%= submit_tag('投稿') %>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(
    function() {
        list = $.ajax({url: '/tags/autocomplete_tag/all_tags', dataType: 'json', type: 'GET'}).done(
        function(data) {
          $('#tag').tagit({
            singleField: true,
            availableTags: data
          });
        });
    }
  );
</script>
