<div class="container">
  <div class="role_models-index-header">
    ロールモデルの投稿
  </div>
  <h2>ロールモデル</h2>
  <div class="role_models-input-field">
    <%= @role_model.title %>
  </div>
  <h2>ロールモデルの説明</h2>
  <div class="role_models-input-field">
    <%= @role_model.description %>
  </div>
  <h2>このロールモデルの良い点</h2>
  <div class="role_models-input-field">
    <%= @role_model.good_point %>
  </div>
  <h2>このロールモデルの悪い点</h2>
  <div class="role_models-input-field">
    <%= @role_model.bad_point %>
  </div>
  <h2>このロールモデルを実践するには</h2>
  <div class="role_models-input-field">
    <%= @role_model.approach %>
  </div>
</div>
